<phpunit
    colors="true"
    bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Kash Test Suite">
            <directory>test/</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.log"/>
        <log type="coverage-html" target="build/code-coverage"/>
    </logging>
</phpunit>
